body{
    background-color: black;
}
.icon-white{
    font-size: 16px;
    color:white;
}

.white{
    color: white;
}

.no-radius-white{
    border-radius: 0;
    border: 1px solid white;
}

.no-border{
    border: none;
}
.gray{
    color: white;
    opacity: 55%;
}
.footer-icon{
    font-size: 1.5rem;
    color: white;
    opacity: 55%;
}
.horizontal_slider{
    display: block;
    width: 100%;
    overflow-x: scroll;
}
/* .horizontal_slider::-webkit-scrollbar {
    display: none;
} */

.slider_container{
    display: block;
    white-space: nowrap;
}
.obj{
    display: inline-block;
}
/* .obj img{
    width: 
} */

.oflow{
    overflow-x: scroll;
}
.oflow img{
    padding-right: 5px;
}
footer{
    font-size: 0.7rem;
}

#avatar{
    width: 100%;
    max-width: 150px;
}

.input-avatar{
    background-color: gray;
    color: white;
    border: none;
    padding: 5px 10px;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: white;
  }
.custom-select{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: none;
}
.custom-settings{
    color:white;
    background-color: #808080b8;
    border-radius: 0%;
    font-weight: bold;
}
.custom-settings:hover{
    color: #808080b8;
    background-color: white;
}
.custom-check{
    background-color: #ff000000;;
    padding: 15px;
}